DATABASE_URL="mysql://root:root@localhost:3306/reachinbox"
REDIS_HOST="localhost"
REDIS_PORT=6379
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=
MAX_EMAILS_PER_HOUR_PER_SENDER=200
MIN_DELAY_BETWEEN_EMAILS_SECONDS=2
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
PORT=5000
